body{
    margin: 0 auto;
    font-family: sans-serif;
    background-color: aliceblue;
    background-image: url(Granger\ -\ Agent\ \ mlbb\ png\ by\ dechunf\ on\ DeviantArt.png);
}

form{
    width: 100%;
}
legend{
    text-align: center;
}
.back, a{
    margin-top: 5px;
    background-color: rgb(1, 12, 19);
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}