*{
    padding: 0;
    top: 0;
    right: 0;
}

body {
    text-align: justify;
    font-family: sans-serif;
    background-image: url(Franco\ Mobile\ Legends\ Wallpaper\ hd.jpeg);
}

.box {
    width: 100%;
    height: 50px;
    /*background-color: red;*/
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(224, 29, 29);
}

section{
    color: rgb(133, 167, 41);
    text-align: center;
    align-items: center;
    border: solid rgb(241, 241, 242);
    box-sizing: border-box;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.btn{
    justify-content: center;
    text-align: center;
}

.pendaftaran, a{
    background-color: rgb(0, 6, 190);
    color: white;
    text-decoration: none;
    width: 100px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}